<li>
#{if _root.isFolder()}
<span class="folder #{if _current.equals(_root) }selected#{/if}">&nbsp;<a href="${_root.url}" id="tree_${_root.associationId}" >&{_root.name}</a></span>
#{/if}
<ul>
#{list items:_root.children, as:'key' }
	#{if key != null }
		#{if key.isArticle()}
		<li class="${key_isLast ?'last':''}">
			<span class="file #{if _current.equals(key) }selected#{/if}">&nbsp;<a href="${key.url}" id="tree_${key.associationId}" >&{key.name}</a></span>
		</li>
		#{/if}
		#{else}
		#{vsbocms.folderTree root:key, current:_current/}
		#{/else}
	#{/if}
#{/list}
</ul>
</li>